@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsStocktakeEquipment').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 20
            });
        });
    </script>

}

@model List<FYP.Models.Stocktaking_Equipment>;
<h2> Equipment </h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>

    <table id="jsStocktakeEquipment" class="table">
        <thead>
            <tr>
                <th>Serial No</th>
                <th>Equipment Name</th>
                <th>Storage Location</th>
                <th>Type Description</th>
                <th>Status</th>
            </tr>
        </thead>

        <tbody>
            @foreach (FYP.Models.Stocktaking_Equipment s in Model)
            {
                <tr>
                    <td>@s.Serial_no</td>
                    <td>@s.Equipment_name</td>
                    <td>@s.Storage_location</td>
                    <td>@s.Type_desc</td>
                    <td>@s.Status</td>
                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Serial No</th>
                <th>Equipment Name</th>
                <th>Storage Location</th>
                <th>Type Description</th>
                <th>Status</th>
            </tr>
        </tfoot>


    </table>
</div>

