@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsExercise').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 20
            });
        });
    </script>

}

@model System.Data.DataRowCollection
<h2> Archived Exercises </h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>

    <table id="jsExercise" class="table">
        <thead>
            <tr>
                <th>SAF11B</th>
                <th>Company</th>
                <th>Unit</th>
                <th>Package</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                @if (User.IsInRole("Admin") || User.IsInRole("Officer Commander") || User.IsInRole("Platoon Commander") || User.IsInRole("Commandant Officer"))
                {
                    <th>Action</th>
                }

            </tr>
        </thead>

        <tbody>
            @foreach (System.Data.DataRow row in Model)
            {
            <tr>
                <td>@User.Identity.Name</td>
                <td>@row["Company"]</td>
                <td>@row["Unit"]</td>
                <td>@row["Package_id"]</td>
                <td>@row["Description"]</td>
                <td>@String.Format("{0:dd-MM-yyyy}", row["Start Date"])</td>
                <td>@String.Format("{0:dd-MM-yyyy}", row["End Date"])</td>
                <td>
                    <a asp-controller="Exercise"
                       asp-action="Delete"
                       asp-route-id="@row["Exercise_id"]"
                       onclick="return confirm('Delete Exercise')">
                        Delete
                    </a>
                </td>


            </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>SAF11B</th>
                <th>Company</th>
                <th>Unit</th>
                <th>Package</th>
                <th>Description</th>
                <th>Start Date</th>
                <th>End Date</th>
                @if (User.IsInRole("Admin") || User.IsInRole("Officer Commander") || User.IsInRole("Platoon Commander") || User.IsInRole("Commandant Officer"))
                {
                    <th>Action</th>
                }

            </tr>
        </tfoot>


    </table>
</div>

