@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsActivity').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 20
            });
        });
    </script>

}

@model System.Data.DataRowCollection
<h2> Activities </h2>

@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
    </div>
}

<div>

    <table id="jsActivity" class="table">
        <thead>
            <tr>
                <th>Platoon</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
                @if (User.IsInRole("3") || User.IsInRole("4") || User.IsInRole("5"))
                {
                    <th>Action</th>
                }

            </tr>
        </thead>

        <tbody>
            @foreach (System.Data.DataRow row in Model)
            {
            <tr>
                <td>@row["platoon"]</td>
                <td>@row["type"]</td>
                <td>@row["activity_description"]</td>
                <td>@String.Format("{0:dd-MM-yyyy}", row["activity_date"])</td>
                <td>@row["status"]</td>

                <td>
                    <a asp-controller="Activity"
                       asp-action="Edit"
                       asp-route-id="@row["Appt_id"]">
                        Edit
                    </a>
                    <a asp-controller="Activity"
                       asp-action="Delete"
                       asp-route-id="@row["Appt_id"]"
                       onclick="return confirm('Delete Activity')">
                        Delete
                    </a>
                </td>


            </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Platoon</th>
                <th>Type</th>
                <th>Description</th>
                <th>Date</th>
                <th>Status</th>
                @if (User.IsInRole("3") || User.IsInRole("4") || User.IsInRole("5"))
                {
                    <th>Action</th>
                }

            </tr>
        </tfoot>


    </table>
</div>

