@section MoreScripts {
    <link href="~/lib/datatables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <script src="~/lib/datatables/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#jsUsers').DataTable({
                ordering: true,
                paging: true,
                searching: true,
                info: true,
                lengthChange: true,
                pageLength: 20
            });
        });
    </script>

}

@model List<FYP.Models.Users>;
<h2> Users </h2>


@if (TempData["Message"] != null)
{
    <div class="alert alert-@TempData["MsgType"]">
        @TempData["Message"]
</div>
}

<div>

    <table id="jsUsers" class="table">
        <thead>
            <tr>
                <th>Full Name</th>
                <th>Rank</th>
                <th>Date Of Birth</th>
                <th>Unit</th>
                <th>Company</th>
                <th>Current Status</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Action</th>
                }

            </tr>
        </thead>

        <tbody>
            @foreach (FYP.Models.Users u in Model)
            {
                <tr>
                    <td>@u.full_name</td>
                    <td>@u.rank</td>
                    <td>@String.Format("{0:dd-MM-yyyy}", @u.dob)</td>
                    <td>@u.unit</td>
                    <td>@u.company</td>
                    <td>@u.deployed_status</td>
                    @if (User.IsInRole("Admin"))
                    {
                        <td>
                            <a asp-controller="User"
                               asp-action="Edits"
                               asp-route-id="@u.User_id">
                                Edit
                            </a>
                            <a asp-controller="User"
                               asp-action="Delete"
                               asp-route-id="@u.User_id"
                               onclick="return confirm('Delete User <@u.full_name>')">
                                Delete
                            </a>
                        </td>
                    }

                </tr>
            }
        </tbody>

        <tfoot>
            <tr>
                <th>Full Name</th>
                <th>Rank</th>
                <th>Date Of Birth</th>
                <th>Unit</th>
                <th>Company</th>
                <th>Current Status</th>
                @if (User.IsInRole("Admin"))
                {
                    <th>Action</th>
                }

            </tr>
        </tfoot>


    </table>
</div>

